<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>

<body>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>username</th>
                <th>age</th>
                <th>gender</th>
                <th>nickname</th>
            </tr>
        </thead>
    </table>
</body>
<script>
    $(document).ready(function() {
    $('#example').DataTable( {
        "ajax": "/datatables",
        "columns": [
            { "data": "username" },
            { "data": "age" },
            { "data": "gender" },
            { "data": "nickname" }
        ],
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"#語言，現在用的是中文，其他的語言在http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/可以找到
        }
    } );
} );
</script>
</html>